<table class="table table-striped table-bordered table-hover">
    <caption>COMMENTS</caption>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>COMMENT TEXT</th>
        <th>DATE</th>
        <th></th> 
    </tr>
    <tr *ngFor="let comment of comments">
        <td>{{comment.id}}</td>
        <td>{{comment.username}}</td>
        <td>{{comment.commentText}}</td>
        <td [style.color]="getColorFontExceedLimitDate(comment.date)">{{comment.date}}</td>
        <td><span (click)="deleteComment(comment)" role="button" class="glyphicon glyphicon-trash" title="Удалить"></span></td>
    </tr>
</table>

<!--*ngIf="selectedPhraseLanguage" если выражение хранит значение true элемент будет добавлен в DOM-->
<p [ngStyle]="getStyles()">
    Count rows in table: {{getCurrentCountComments()}}
</p>