<p>Input all fields for new product:</p>
<form (ngSubmit)="onSubmit()">
<div class="form-group">
<label for="productName">NAME</label>
<input type="text" class="form-control" id="productName" [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" /><br/>
</div>
<div class="form-group">
<label for="productPrice">PRICE</label>
<input type="text" class="form-control" id="productPrice" [(ngModel)]="productPrice" [ngModelOptions]="{standalone: true}" /><br/>
</div>
<div class="form-group">
<label for="productCategory">CATEGORY</label>
<input type="text" class="form-control" id="productCategory" [(ngModel)]="productCategory" [ngModelOptions]="{standalone: true}" /><br/>
</div>
<button type="submit" class="btn btn-default">Add</button>
</form>