<div class="container">
    <p>Input all fields for new product:</p>
    <form [formGroup]="productAddForm" (ngSubmit)="onSubmit()" #createProductForm="ngForm">
        <div class="form-group">
            <label for="productName">NAME</label>
            <input type="text" required formControlName="productName" class="form-control" id="productName" />

            <div *ngIf="formErrors.productName" class="alert alert-danger">
                {{ formErrors.productName }}
            </div>
        </div>
        <div class="form-group">
            <label for="productPrice">PRICE</label>
            <input type="text" required formControlName="productPrice" class="form-control" id="productPrice" />

            <div *ngIf="formErrors.productPrice" class="alert alert-danger">
                {{ formErrors.productPrice }}
            </div>
        </div>
        <div class="form-group">
            <label for="productCategory">CATEGORY</label>
            <select required id="productCategory" formControlName="productCategory" class="form-control">
    <option *ngFor="let category of getAllCategories()" [value]="category">{{category}}</option>
</select>
            <div *ngIf="formErrors.productCategory" class="alert alert-danger">
                {{ formErrors.productCategory }}
            </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="createProductForm.invalid">Add</button>
    </form>
</div>